################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrmAccountsDataApi/CrmAccountsDataApi/.vs
/CrmAccountsDataApi/CrmAccountsDataApi.rar
/CrmAccountsDataApi.rar
